<%@ Page Language="VB" %>

<% '註解：判別「變數a」是否大於10？

IF Request("u_number") > 10 Then
      Response.Write("恭喜！您輸入的值，大於10喔！")
Else
      IF Request("my_number") = 10 Then
          Response.Write("您輸入的值，剛好等於10。")
      Else
          Response.Write("抱歉！您輸入的值，小於10。")
      End IF
End IF
%>
