﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="10_TextBox.aspx.vb" Inherits="VS2010_Book_Sample_Ch02_program_10_TextBox" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        請輸入一個整數（1~20之間）<br />
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" Text="Button_大於10?  等於10?  或是小於10?" />

    </div>
    </form>
</body>
</html>
