<%@ Page Language="VB" %>

<%
    Dim my_sum As Integer = 0

    For I As Integer = 1 To 100
        my_sum = my_sum + I
    Next

    Response.Write("從1累加到100；<hr>計算1+2+3+4+....+99+100，答案是--- ")
    
    Response.Write(my_sum)
    
%>