<%@ Page Language="VB" %>

<%  Response.Write("我愛ASP.NET")  %>

<% =   ("<br>我愛ASP.NET") %>

<% 

    =   ("<br>我愛ASP.NET")
    
%>

<!-- HTML註解：下面的寫法會出錯！！但VS 2010認為正確  -->


<% 

        =   ("<br>我愛ASP.NET")
        =   ("<br>我愛ASP.NET")
    
%>