<%@ Page Language="VB" %>

<%
         IF Response.IsClientConnected = True Then
                 Response.Write("連線中….")
         Else
                 Response.Write("已經離線了….掰掰！")
         End IF
%>