<%@ Page Language="VB" %>

<%  '--註解：判別「使用者輸入的值」是否大於10？

Dim a As Integer = Request("u_number")

		IF  a > 10 Then
		      Response.Write("恭喜！您輸入的值，大於10喔！")
		Else
		      Response.Write("抱歉！您輸入的值，小於10。")
		End IF
%>