<%@ Page Language="VB" %>

<%
    
    Dim a As Integer = 100
    
      '--註解：先將IF判別式的「整個架構」寫好。
    If a > 10 Then

        Response.Write("恭喜你！ a 大於 10")
        '--註解：把IF辦別式的架構完成後，再來寫裡面的內容！

    End If
%>