﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="JavaScript_ReDirect.aspx.vb" Inherits="JavaScript_ReDirect_01" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .style1
        {
            color: #FF0000;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        JavaScript 出現 <b>pop-up視窗</b>之後，<span class="style1">導向</span>其他網頁</div>
    </form>
</body>
</html>
