﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="1_Index_Master.aspx.vb" Inherits="CaseStudy_DIY_Default_Master" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title> 網站首頁#1 </title>
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    

    
    </div>
    </form>
    
</body>
</html>
