﻿<%@ Page Language="VB" Debug="true" AutoEventWireup="false" CodeFile="Advanced_Page_10_mis2000lab_DataReader_Row_Number.aspx.vb" Inherits="VS2010_Book_Sample_Advanced_Page_10_mis2000lab_Row_Number" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Untitled Page</title>
    <style type="text/css">
        .style1
        {
            font-weight: bold;
            background-color: #FFFF66;
        }
        .style2
        {
            color: #FF0000;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p>
        自己手寫版的分頁程式&nbsp; <span class="style2">DataReader</span>  + <span class="style1">SQL指令的Row_NUMBER</span>（後置程式碼）</p>
    <form id="form1" runat="server">
    <div>
    
        <a href="http://technet.microsoft.com/zh-tw/library/ms186734.aspx">
        http://technet.microsoft.com/zh-tw/library/ms186734.aspx</a>
        <br />
    
    </div>
    </form>

</body>
</html>
