﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Disp_6_Message_SB.aspx.vb" Inherits="CaseStudy_DIY_Disp_6_Message_SB" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title> 查看某一篇文章細部內容 (文章可分段落 + 留言板) </title>
    <style type="text/css">
        .style1
        {
            font-weight: bold;
            background-color: #CCFFFF;
        }
        .style2
        {
            color: #FF3300;
            font-size: large;
        }
        .style3
        {
            font-size: large;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    查看某一篇文章細部內容<span class="style1"> (文章可分段落 + <span class="style3">留言板 </span>
    <span class="style2">[StringBuilder]</span>)     </span> 

    <br /><br />
    <div align="center">
            <asp:Label ID="Label1_title" runat="server" 
                style="font-weight: 700; font-size: xx-large; color: #009900"></asp:Label>
    </div>
    <hr />
    <asp:Label ID="Label2_summary" runat="server" 
        style="color: #666666; font-style: italic;"></asp:Label>
    <br />
    <div align="right">
        發表日期：<asp:Label ID="Label3_test_time" runat="server" 
            style="font-style: italic; color: #993333"></asp:Label>
    </div>   
    <hr />
    <br />
    <asp:Label ID="Label4_article" runat="server"></asp:Label>
    <hr />
    <div align="right">
        作者：<asp:Label ID="Label5_author" runat="server"></asp:Label>
    </div>        
    <hr />
    <br />
    <asp:Label ID="Label1" runat="server" Text="以下是本文的讀者留言：" Visible="False"></asp:Label>
    <br />
    <asp:Label ID="Label2" runat="server" Visible="False"></asp:Label>
    </form>
</body>
</html>
