﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="String_Format_1.aspx.vb" Inherits="VS2010_Book_Sample_Ch03_Program__Book_WebControls_String_Format_1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
