﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Ch2_4.aspx.cs" Inherits="Ch2_4" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        請輸入一個字串:<p>
            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        </p>
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="確定" />
    </form>
</body>
</html>
