﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="06.aspx.vb" Inherits="WebControls_6" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title> Ch 3</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        文章分類：<asp:DropDownList ID="DropDownList1" runat="server">
	            <asp:ListItem Selected="True">政治</asp:ListItem>
	            <asp:ListItem>教育</asp:ListItem>
	            <asp:ListItem>娛樂</asp:ListItem>
        </asp:DropDownList>
&nbsp;
        <asp:Button ID="Button1" runat="server" Text="Submit" />
    
    </div>
    </form>
</body>
</html>
