﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="07_2.aspx.vb" Inherits="WebControls_7_2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title> Ch 3 </title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        ListBox控制項可以「複選」。<br />
        <br />
        <br />
        當您選好之後，按下按鈕。您剛剛選好的選項，就會出現在畫面上！<br />
        <asp:ListBox ID="ListBox1" runat="server" DataSourceID="SqlDataSource1" 
            DataTextField="title" DataValueField="id" SelectionMode="Multiple"></asp:ListBox>
            
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
            ConnectionString="<%$ ConnectionStrings:testConnectionString4 %>" 
            SelectCommand="SELECT [id], [title] FROM [test]"></asp:SqlDataSource>    
        <br />
&nbsp;&nbsp;&nbsp;
        <asp:Button ID="Button1" runat="server" Text="Button，選好後，請按下去！" />
        <br />
        <br />
        <hr />
        您剛剛選好的選項----<asp:Label ID="Label1" runat="server" ForeColor="Red"></asp:Label>
    </div>
    </form>
</body>
</html>
