<%@ Page Language="VB" AutoEventWireup="false" CodeFile="11.aspx.vb" Inherits="_Book_WebControls_11" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>PlaceHolder控制項</title>
</head>
<body>
    <form id="form1" runat="server">
    PlaceHolder控制項<br />
    
    <div>
    
        <br />
        *****************************************************<br />
        <asp:PlaceHolder ID="PlaceHolder1" runat="server"></asp:PlaceHolder>
        <br />
        *****************************************************<br />
        <br />
        <asp:Button ID="Button1" runat="server" Text="按下去，看看結果有何改變" />
    
    </div>
    </form>
 
</body>
</html>
