﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="12.aspx.vb" Inherits="_Book_WebControls_12" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>未命名頁面</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        AdRotator ( for XML File)<br />
        <br />
        <asp:AdRotator ID="AdRotator1" runat="server" 
            
            AdvertisementFile="~/VS2010_Book_Sample/Ch03_Program/[Book]WebControls/AD.xml" />
    
    </div>
    </form>
</body>
</html>
