﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Button_Enter_01.aspx.vb" Inherits="Button_Enter" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server" >
    <div>
    
        (1). 輸入文字以後，直接按下「Enter」做送出（Submit） ，會觸發哪一個按鈕？<br />
        <br />
        <br />
    
        <asp:Button ID="Button1" runat="server" Text="Button1" />
        <br />
        <br />
    
    </div>
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <asp:Button ID="Button2" runat="server" Text="Button2" />
        <p>
        <asp:Button ID="Button3" runat="server" Text="Button3" />
        </p>
    </form>
</body>
</html>
