﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="1.aspx.vb" Inherits="_Book_Ch6_1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>程式與資料庫互動的四大步驟</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <hr />
    程式與資料庫互動的四大步驟<br />
    ASP.NET與ADO.NET的簡單程式<br />
    <br />
    <hr />
    <h2>Code-Behind</h2>
    </div>
    </form>
 
</body>
</html>

