﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Default_book_GridView_Template_3_jQuery.aspx.vb" Inherits="Book_Sample_Ch11_Program_Default_book_GridView_Template_3_jQuery" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>GridView + jQuery = 刪除之前，再次確認。</title>
    <style type="text/css">
        .style2
        {
            color: #CC0000;
        }
        .style3
        {
            color: #FF0000;
            font-weight: bold;
        }
        .style1 {
            background-color: #FFFF00;
        }
    </style>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />

    <script src="Scripts/gridview-addrecord-script.js" type="text/javascript"></script>

    <script>
        $(function () {
            InitializeDeleteConfirmation();
        });
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            動態加入「Double Check」的 JavaScript程式到 GridView<span class="style3">每一列的「刪除」按鈕</span>裡面。<br />
            <b>使用GridView的 <span class="style1">RowDataBound事件</span></b><br />
            <br />
            <br />
            1. 底下的「刪除按鈕（Button）」被IIS翻譯以後，變成傳統HTML的 &lt;input type=&quot;submit&quot;...&gt;。請注意HTML的Submit按鈕「ID」。<br />
            <br />
            2. 範例來源：<a href="http://www.junnark.com/Blog/Detail/delete-functionality-in-gridview-with-confirmation-using-jquery-ui-dialog">http://www.junnark.com/Blog/Detail/delete-functionality-in-gridview-with-confirmation-using-jquery-ui-dialog</a>
            <br />
            <br />
            &nbsp;&nbsp;&nbsp; 也可以參考 jQuery的 對話（Confirm），資料來源：<a href="http://jqueryui.com/dialog/#modal-confirmation">http://jqueryui.com/dialog/#modal-confirmation</a>
            <br />
            <br />
            <br />
            <br />


            <asp:GridView ID="GridView1" runat="server" BackColor="White" BorderColor="#3366CC"
                BorderStyle="None" BorderWidth="1px" CellPadding="4" DataKeyNames="id"
                DataSourceID="SqlDataSource1" AllowPaging="True" AllowSorting="True" AutoGenerateColumns="False"
                PageSize="5" OnRowDataBound="GridView1_RowDataBound" AutoGenerateDeleteButton="True">
                <FooterStyle BackColor="#99CCCC" ForeColor="#003399" />
                <RowStyle BackColor="White" ForeColor="#003399" />
                <PagerStyle ForeColor="#003399" HorizontalAlign="Left" BackColor="#99CCCC" />
                <SelectedRowStyle BackColor="#009999" Font-Bold="True" ForeColor="#CCFF99" />
                <HeaderStyle BackColor="#003399" Font-Bold="True" ForeColor="#CCCCFF" />
                <Columns>
                    <asp:TemplateField ShowHeader="False" HeaderText="jQuery刪除前，再次確認">
                        <ItemTemplate>

                            <asp:ImageButton ID="ImageButton1" runat="server" ToolTip="Click to delete(jQuery)"
                                CommandArgument='<%# Eval("id") %>'
                                AlternateText='<%# Eval("id") %>'
                                OnClientClick="javascript:return deleteItem(this.name, this.alt);"
                                ImageUrl="Images/Delete.png"
                                CommandName="Delete" />
                            <br />
                            ** jQuery **

                        </ItemTemplate>
                    </asp:TemplateField>

                    <asp:BoundField DataField="id" HeaderText="id" InsertVisible="False" ReadOnly="True"
                        SortExpression="id" />
                    <asp:BoundField DataField="test_time" HeaderText="test_time日期" DataFormatString="{0:yyyy/MM/dd}"
                        SortExpression="test_time" />
                    <asp:BoundField DataField="title" HeaderText="title標題" SortExpression="title" />
                    <asp:TemplateField HeaderText="summary摘要" SortExpression="summary">
                        <EditItemTemplate>
                            <asp:TextBox ID="TextBox1" runat="server" Height="100px" Text='<%# Bind("summary") %>'
                                TextMode="MultiLine" Width="350px"></asp:TextBox>
                        </EditItemTemplate>
                        <ItemTemplate>
                            摘要內容----<br />
                            <asp:Label ID="Label1" runat="server" Text='<%# Bind("summary") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                </Columns>
                <SortedAscendingCellStyle BackColor="#EDF6F6" />
                <SortedAscendingHeaderStyle BackColor="#0D4AC4" />
                <SortedDescendingCellStyle BackColor="#D6DFDF" />
                <SortedDescendingHeaderStyle BackColor="#002876" />
            </asp:GridView>

            <asp:SqlDataSource ID="SqlDataSource1" runat="server"
                ConnectionString="<%$ ConnectionStrings:testConnectionString %>"
                SelectCommand="SELECT [id], [test_time], [title], [summary] FROM [test]"
                DeleteCommand="DELETE FROM [test] WHERE [id] = @id">
                <DeleteParameters>
                    <asp:Parameter Name="id" Type="Int32" />
                </DeleteParameters>

            </asp:SqlDataSource>
        </div>



        <!-- *** 重點！！ 刪除的「確認視窗」在此。 ********** -->
        <div id="deleteConfirmationDialog"></div>
        <div id="deleteErrorDialog" title="An error occured during item deletion!"></div>

    </form>


        <br /><br /><br />
        您也可以參閱這篇文章的解法：http://blog.darkthread.net/post-2013-08-03-kendo-ui-confirm.aspx
</body>
</html>
