﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="作業_第三組_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
     <style type="text/css">
        .auto-style1 {
            color: #FF0000;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
           
        <br />
        <br />
        帳號：<asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <br />
         密碼：<asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
        <br />
        <br />
        <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />
        <br />
        <br />
        <br />
        <br />
           <asp:Label ID="Label1" runat="server" style="font-weight: 700; font-size: xx-large; color: #FF0000"></asp:Label>
        <br />
         <asp:Label ID="Label2" runat="server" style="font-weight: 700; font-size: xx-large; color: #FF0000"></asp:Label>
        <br />
        <br />
        <br />
       

    </div>
    </form>
</body>
</html>
