﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="RecordsAffected_01_Parameter_Delete.aspx.cs" Inherits="_Book_New_Samples_DB_DataReader_RecordsAffected_01_Parameter_Delete" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <style type="text/css">
        .style1
        {
            color: #FF0000;
        }
        .style2
        {
            color: #FFFFFF;
            background-color: #0000FF;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            SqlDataReader的 <b>RecordsAffected屬性 #1 -- 使用 <span class="style1">Delete</span>的SQL指令<br />
                <span class="style2">Parameter版</span></b><br />
            <br />
            <asp:Label ID="Label1" runat="server" Style="color: #CC0066"></asp:Label>

        </div>
    </form>
</body>
</html>
