.sidebar {
	background: rgb(51, 51, 51); width: 250px; float: left; display: block;
}
.content {
	width: auto; overflow: hidden; display: block;
}
.sidebar-nav {
	border-bottom-color: rgba(0, 0, 0, 0.3); border-bottom-width: 1px; border-bottom-style: solid; background-image: linear-gradient(to right, rgb(51, 51, 51) 10px, rgb(34, 34, 34) 10px); background-repeat: repeat-x;
}
.sidebar-nav ul {
	list-style: none; margin: 0px; padding: 0px;
}
.sidebar-nav ul li {
	display: block;
}
.sidebar-nav ul a {
	display: block;
}
.sidebar-nav ul a {
	padding: 10px 20px; color: rgb(170, 170, 170); border-top-color: rgba(0, 0, 0, 0.3); border-top-width: 1px; border-top-style: solid; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.05); text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}
.sidebar-nav ul a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.sidebar-nav ul a:focus {
	color: rgb(255, 255, 255); text-decoration: none;
}
.sidebar-nav ul a:active {
	color: rgb(255, 255, 255); text-decoration: none;
}
.sidebar-nav ul ul a {
	padding: 10px 30px; background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-nav ul ul a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav ul ul a:focus {
	background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav ul ul a:active {
	background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav-item {
	padding-left: 5px;
}
.sidebar-nav-item-icon {
	padding-right: 5px;
}
