.arrow {
	float: right;
}
.arrow.glyphicon::before {
	content: "\e079";
}
.active > a > .arrow.glyphicon::before {
	content: "\e114";
}
.arrow.fa::before {
	content: "\f104";
}
.active > a > .arrow.fa::before {
	content: "\f107";
}
.plus-times {
	float: right;
}
.plus-times.fa::before {
	content: "\f067";
}
.active > a > .plus-times.fa {
	transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg);
}
.plus-minus {
	float: right;
}
.plus-minus.fa::before {
	content: "\f067";
}
.active > a > .plus-minus.fa::before {
	content: "\f068";
}
