﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="3.aspx.cs" Inherits="bmw_作業_第五組_3" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        <asp:DropDownList ID="DDL1" runat="server" AutoPostBack="True" OnSelectedIndexChanged="DropDownList1_SelectedIndexChanged">
            <asp:ListItem Value="www.lhu.edu.tw">LHU</asp:ListItem>
            <asp:ListItem Value="tw.yahoo.com">YAHOO</asp:ListItem>
            <asp:ListItem Value="www.google.com.tw">GOOGLE</asp:ListItem>
            <asp:ListItem Value="new">手動新增選項</asp:ListItem>
        </asp:DropDownList><asp:Button ID="BT1" runat="server" Text="按我" OnClick="BT1_Click" />
    </div>
        <br />
        <asp:Label ID="LB1" runat="server" Text=""></asp:Label>
        <br />
        <asp:Label ID="LB2" runat="server" Text=""></asp:Label>
        <br />
        <br />
        <asp:Panel ID="Panel1" runat="server" Visible="False">
            <asp:TextBox ID="TB1" runat="server" OnTextChanged="TB1_TextChanged"></asp:TextBox><asp:Button ID="BT2" runat="server" Text="新增選項" OnClick="BT2_Click" />
        </asp:Panel>
    </form>
</body>
</html>