﻿<%@ Page Language="C#" %>

<!DOCTYPE html>

<script runat="server">

    protected void Page_Load(object sender, EventArgs e)
    {
        Label1.Visible = false;
        Label2.Visible = false;
    }

    protected void Button1_Click(object sender, EventArgs e)
    {
        String savePath = "C:/Users/user/cs_web2017/bmw/作業/第九組/末/image/下載.jpg";
        if (FileUpload1.HasFile)
        {
            string fileName = FileUpload1.FileName;
            savePath = savePath + fileName;
            FileUpload1.SaveAs(savePath);
            Label1.Visible = true;
            Label1.Text = "上傳成功，檔名----" + fileName;
        }
        else
        {
            Label2.Visible = true;
            Label2.Text = "請先挑選檔案後，再來上傳";
}
    }
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <style type="text/css">
        .auto-style1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div class="auto-style1">
            <asp:FileUpload ID="FileUpload1" runat="server" />
            <br />
            發文者:<asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
            <br />
            標題:<asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
            <br />
            內容:<asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
            <br />
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="上傳圖片" />
            <br />
            <br />
        </div>
        <div class="auto-style1">
            <asp:Label ID="Label1" runat="server"></asp:Label>
            <br />
            <asp:Label ID="Label2" runat="server"></asp:Label>
        </div>
    </form>
</body>
</html>
