﻿<%@ Page Language="C#" %>
<%@ Import Namespace=" System.Data.SqlClient" %>
<!DOCTYPE html>

<script runat="server">

    protected void Button1_Click(object sender, EventArgs e)
    {
                string sql = "";
        String sqldb =@"Data Source=F502;Initial Catalog=nine;User ID=sa;Password=1234";
        SqlConnection conn = new SqlConnection(sqldb);
        conn.Open();

        sql = "select * from Member where member_account = '" + TextBox1.Text.Trim()+"'" ;
        SqlCommand cmd = new SqlCommand(sql, conn);
        SqlDataReader reader = cmd.ExecuteReader();

        if (reader.Read())
        {
            Session["member_account"] = reader["member_account"];
            Label2.Visible = true;
            Label2.Text = "Servant聽從您的召喚";
        }
        else
        {
            Label1.Visible = true;
            Label1.Text = "聖晶石不夠，召喚失敗";
        }

        reader.Close();
        cmd.Dispose();
        conn.Close();
    }
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <style type="text/css">
        .auto-style1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" DataKeyNames="member_account" DataSourceID="SqlDataSource1">
            <Columns>
                <asp:BoundField DataField="member_account" HeaderText="member_account" ReadOnly="True" SortExpression="member_account" />
                <asp:BoundField DataField="member_password" HeaderText="member_password" SortExpression="member_password" />
                <asp:BoundField DataField="name" HeaderText="name" SortExpression="name" />
                <asp:BoundField DataField="nickname" HeaderText="nickname" SortExpression="nickname" />
                <asp:BoundField DataField="gender" HeaderText="gender" SortExpression="gender" />
                <asp:BoundField DataField="birthday" HeaderText="birthday" SortExpression="birthday" />
                <asp:BoundField DataField="city" HeaderText="city" SortExpression="city" />
                <asp:BoundField DataField="phone" HeaderText="phone" SortExpression="phone" />
                <asp:BoundField DataField="email" HeaderText="email" SortExpression="email" />
                <asp:BoundField DataField="status" HeaderText="status" SortExpression="status" />
            </Columns>
        </asp:GridView>
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:nineConnectionString %>" SelectCommand="SELECT * FROM [Member] WHERE ([member_account] = @member_account)" DeleteCommand="DELETE FROM [Member] WHERE [member_account] = @member_account" InsertCommand="INSERT INTO [Member] ([member_account], [member_password], [name], [nickname], [gender], [birthday], [city], [phone], [email], [status]) VALUES (@member_account, @member_password, @name, @nickname, @gender, @birthday, @city, @phone, @email, @status)" UpdateCommand="UPDATE [Member] SET [member_password] = @member_password, [name] = @name, [nickname] = @nickname, [gender] = @gender, [birthday] = @birthday, [city] = @city, [phone] = @phone, [email] = @email, [status] = @status WHERE [member_account] = @member_account">
            <DeleteParameters>
                <asp:Parameter Name="member_account" Type="String" />
            </DeleteParameters>
            <InsertParameters>
                <asp:Parameter Name="member_account" Type="String" />
                <asp:Parameter Name="member_password" Type="String" />
                <asp:Parameter Name="name" Type="String" />
                <asp:Parameter Name="nickname" Type="String" />
                <asp:Parameter Name="gender" Type="String" />
                <asp:Parameter DbType="Date" Name="birthday" />
                <asp:Parameter Name="city" Type="String" />
                <asp:Parameter Name="phone" Type="String" />
                <asp:Parameter Name="email" Type="String" />
                <asp:Parameter Name="status" Type="String" />
            </InsertParameters>
            <SelectParameters>
                <asp:ControlParameter ControlID="TextBox1" Name="member_account" PropertyName="Text" Type="String" />
            </SelectParameters>
            <UpdateParameters>
                <asp:Parameter Name="member_password" Type="String" />
                <asp:Parameter Name="name" Type="String" />
                <asp:Parameter Name="nickname" Type="String" />
                <asp:Parameter Name="gender" Type="String" />
                <asp:Parameter DbType="Date" Name="birthday" />
                <asp:Parameter Name="city" Type="String" />
                <asp:Parameter Name="phone" Type="String" />
                <asp:Parameter Name="email" Type="String" />
                <asp:Parameter Name="status" Type="String" />
                <asp:Parameter Name="member_account" Type="String" />
            </UpdateParameters>
        </asp:SqlDataSource>
        <div class="auto-style1">
            <br />
            <br />
            <asp:Label ID="Label1" runat="server"></asp:Label>
            <br />
            <asp:Label ID="Label2" runat="server"></asp:Label>
            <br />
            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="搜尋成功" />
        </div>
    </form>
</body>
</html>
