<%
  ‘--註解：這段程式是 Inline Code，檔名為 App_3.aspx。

    Response.Write("Application的值也可以進行修改<hr>")
    
  Application.Lock()
      Application("my_test1")  = "哈哈，被我偷改了....Bye Bye!"
      Application("my_test2") = CInt(Application("my_test2")) + 999
  Application.UnLock()


Response.Write("<br><br> Application裡面的值，整個網站內的程式都可以共用！<hr>")
  Response.Write("<br> my_test1的值----" & Application("my_test1"))
  Response.Write("<br> my_test2的值----" & Application("my_test2"))
%>