<%
  ‘--註解：這段程式是 Inline Code，檔名為 App_2.aspx。

Response.Write("Application裡面的值，整個網站內的程式都可以共用！<hr>")
  Response.Write("<br> my_test1的值----" & Application("my_test1"))
  Response.Write("<br> my_test2的值----" & Application("my_test2"))

%>
