<%
    If Not Request.Cookies("Login") Is Nothing Then

        If Request.Cookies("Login").Value = "OK" Then
            Response.Write("<h3>恭喜您，您成功登入，才會看見這一頁！</h3><hr>")
            Response.Write("<br>您的個人資料是----<br>")
            Response.Write("<br>    帳號 =>  " & Request.Cookies("u_name").Value)
        End If

    Else

        Response.Write("<h3><font color=red>嚴重警告！</font>您的帳號、密碼錯誤！是非法使用者∼</h3>")
        Response.Write("<br><br>")
        Response.Write("<h3>此為網站管理區，外人莫入！</h3>")
        Response.End()     '--註解：程式立刻終止！

    End If
%>