<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Cookie_First.aspx.vb" Inherits="_Book_App_Session_Cookie_First" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>未命名頁面</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>

        第一個網頁（範例 Cookie_First.aspx）會寫入 Cookie，然後將瀏覽器重新導向至第二個網頁。</div>
    <br />
    <br />
    <asp:Label ID="Label1" runat="server" style="color: #FF3300"></asp:Label>
    </form>
 
</body>
</html>
