<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Cookie_Login.aspx.vb" Inherits="_Book_App_Session_Cookie_Login" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Cookie用在會員登入的身分檢查上面</title>
</head>
<body>
    <p>
        [Cookie]</p>
    <p>
        本範例的 帳號 與 密碼 都是 123</p>
    <form id="form1" runat="server">
    <p>
        帳號：<asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
    </p>
    <p>
        密碼：<asp:TextBox ID="TextBox2" runat="server" TextMode="Password"></asp:TextBox>
&nbsp;&nbsp;
        <asp:Button ID="Button1" runat="server" Text="Login..." />
    </p>
    </form>
 
</body>
</html>
