<%
  ‘--註解：這段程式是 Inline Code，檔名為 Session_2.aspx。

If Not Session("my_test1") Is Nothing Then
    Response.Write("<br> my_test1的值----" & Session("my_test1"))
End If

If Not Session("my_test2") Is Nothing Then
    Response.Write("<br> my_test2的值----" & Session("my_test2"))
End If
%>
