<%@ Page Language="VB" %>


<%@ Register Src="defense_WebUserControl.ascx" TagName="defense_WebUserControl" TagPrefix="uc1" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    改用UC來取代 defense.inc檔案<br />

    <!-- ************************************************************* -->
    <uc1:defense_webusercontrol id="defense_WebUserControl1" runat="server" />
    <!-- ************************************************************* -->


    <%
        Response.Write("<hr /><h2>......您好！這是改良後的程式（改用UC取代 Include file）......</h2>");
    %>

</body>
</html>
