﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="test_01.aspx.vb" Inherits="VS2010_Book_Sample_Ch16_Program_test_01" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="Label1" runat="server" style="color: #CC0000" Text="0"></asp:Label>
        <br />
        <br />
        <asp:Button ID="Button1" runat="server" Text="Button_按下去，數字就會累加" />
    
    </div>
    </form>
</body>
</html>
