﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="D1044242027賴諺霖1.aspx.cs" Inherits="考試_D1044242027賴諺霖1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   <link rel="stylesheet" href="/resources/demos/style.css">
   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script>
  $( function() {
      $( "#TextBox4" ).datepicker();
  } );
  </script>
</head>
<body>
    <form id="form1" runat="server" >
        <div style="text-align:center"">
            學號 : D1044242027&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 姓名 : 賴諺霖<br />
            <br />
            基礎DO及Web控制項<br />
            <br />
            姓名 :<asp:TextBox ID="TextBox1" runat="server" OnTextChanged="TextBox1_TextChanged"></asp:TextBox>
            <br />
            <br />
            帳號 :<asp:TextBox ID="TextBox2" runat="server" OnTextChanged="TextBox2_TextChanged"></asp:TextBox>
            <br />
            <br />
            密碼 :
            <asp:TextBox ID="TextBox3" runat="server" OnTextChanged="TextBox3_TextChanged" TextMode="Password" ></asp:TextBox>
            <br />
            <br />
            生日 :<asp:TextBox ID="TextBox4" runat="server" OnTextChanged="TextBox4_TextChanged" style="height: 19px"></asp:TextBox>
            <br />
            <br />
            <br />
            性別 :<asp:DropDownList ID="DropDownList1" runat="server" OnSelectedIndexChanged="Button1_Click">
                <asp:ListItem>男性</asp:ListItem>
                <asp:ListItem>女性</asp:ListItem>
            </asp:DropDownList>
            <br />
            <br />
            <br />
            <asp:Button ID="Button1" runat="server" BorderStyle="None" OnClick="DropDownList1_SelectedIndexChanged" Text="提交" />
            <br />
            <br />
            <br />
            <asp:Label ID="Label1" runat="server"></asp:Label>
&nbsp;&nbsp;&nbsp; ，&nbsp;&nbsp;&nbsp; 
            <asp:Label ID="Label2" runat="server"></asp:Label>
&nbsp;&nbsp;&nbsp; ，&nbsp;&nbsp;&nbsp; 
            <asp:Label ID="Label3" runat="server"></asp:Label>
&nbsp;&nbsp;&nbsp; ，&nbsp;&nbsp;&nbsp; 
            <asp:Label ID="Label4" runat="server"></asp:Label>
&nbsp;&nbsp;&nbsp; ，&nbsp;&nbsp;&nbsp; 
            <asp:Label ID="Label5" runat="server"></asp:Label>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </form>
</body>
</html>
