﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="2.aspx.cs" Inherits="bmw_作業_第四組_2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Button ID="Button1" runat="server" PostBackUrl="http://yahoo.com.tw" Text="連接到yahoo" />
            <br />
            <br />
            <asp:ImageButton ID="ImageButton1" runat="server" ImageUrl="~/bmw/CS_03_04_05/企鵝老師.gif" />
            <br />
            <br />
            <asp:Button ID="Button2" runat="server" OnClientClick="window.alert(&quot;第四組&quot;);" Text="Button" />
        </div>
    </form>
</body>
</html>
